# Term Project Spring 2020 - Team Game Cancelled
___

## Course Data Warehouse Test

<b> Table of Contents: </b>
<br> [1. Star Schema](#000)
<br> [2. Set Up - SQL and Database Warehouse](#100)
<br> [3. Create Tables from Star Schema](#200)
<br> [4. ](#300)
<br> [5.](#400)
<br> [6.](#500)
___

<a id = "000"> <h2> 1. Star Schema </h2> </a>
_Design and build data warehouse called CourseDataWarehouse.db._

![Star Schema](James/files/StarSchema.png)

<a id = "100"> <h2> 2. Set Up - SQL and Database Warehouse </h2> </a>

### Imports

In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [ ]:
# Do we still need this part?
#%sql sqlite:///CourseDataWarehouse.db
#conn = sqlite3.connect('CourseDataWarehouse.db')

In [ ]:
# Source: https://www.tutorialspoint.com/sqlite/sqlite_attach_database.htm
# sqlite> ATTACH DATABASE 'testDB.db' as 'TEST';

In [2]:
%%sql
splite> ATTACH DATABASE 'BA510-Data/term-project-teamgamecancelled/CourseData.db' AS 'CourseDataWarehouse';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [2]:
%%sql
ATTACH DATABASE 'CourseData.db' AS 'CourseDataWarehouse';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [4]:
%%sql
# see all active databases 
sqlite> .databases

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

<a id = "200"> <h2> 3. Create Tables from Star Schema </h2> </a>

In [ ]:
%%sql

-- Instructors Dimension table
DROP TABLE IF EXISTS INSTRUCTORS_DIM;
CREATE TABLE INSTRUCTORS_DIM (
    InstructorID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);

-- Location Dimension table
DROP TABLE IF EXISTS LOCATION_DIM;
CREATE TABLE LOCATION_DIM (
    LocationID TEXT PRIMARY KEY
);

-- Timecode Dimension table
DROP TABLE IF EXISTS TIMECODE_DIM;
CREATE TABLE TIMECODE_DIM (
    TimecodeID TEXT PRIMARY KEY,
    Day TEXT,
    Start TEXT,
    End Text
);

-- Programs Dimension table
DROP TABLE IF EXISTS PROGRAMS_DIM;
CREATE TABLE PROGRAMS_DIM (
    ProgramID INTEGER PRIMARY KEY,
    ProgramCode TEXT NOT NULL,
    ProgramName TEXT NOT NULL
);

-- Terms Dimension table
DROP TABLE IF EXISTS TERMS_DIM;
CREATE TABLE TERMS_DIM (
    TermsID TEXT PRIMARY KEY
);

-- Course Catalogs Dimension table
DROP TABLE IF EXISTS COURSE_CATALOGS_DIM;
CREATE TABLE COURSE_CATALOGS_DIM(
    CourseID INTEGER PRIMARY KEY,
    CatalogYear TEXT NOT NULL,
    CatalogID TEXT NOT NULL,
    CourseTitle TEXT NOT NULL,
    Credits TEXT NOT NULL,
    Prequisites TEXT,
    Corequisites TEXT,
    Attributes TEXT
);

-- Course Meetings Fact table
DROP TABLE IF EXISTS COURSE_MEETINGS_FACT;
CREATE TABLE COURSE_MEETINGS_FACT(
    CourseMeetingID INTEGER PRIMARY KEY,
    CatalogID TEXT NOT NULL,
    ProgramID TEXT NOT NULL,
    InstrutorID INTEGER NOT NULL,
    CourseID INTEGER NOT NULL,
    CourseOfferingID INTEGER NOT NULL,
    TimecodeID TEXT NOT NULL,
    TermsID TEXT NOT NULL,
    LocationID TEXT NOT NULL,
    CRN INTEGER NOT NULL,
    PrimaryInstructorID INTEGER NOT NULL,
    Capactiy INTEGER NOT NULL,
    Actual INTEGER NOT NULL,
    Remaining INTEGER NOT NULL,
    Credits INTEGER NOT NULL
    
);

### Rollup Queries

In [ ]:
%%sql

SELECT *
FROM 'CourseData.db'.LOCATION.LocationID
GROUP BY (LocationID)
LIMIT 10;