# Term Project Spring 2020 - Team Game Cancelled
___

_Design and build data warehouse called CourseDataWarehouse.db._

In [1]:
## add image of star schema here

<a id = "00"> <h2> 1. Set Up - SQL and Database </h2> </a>

### Imports

In [2]:
%load_ext sql
import pandas as pd
import sqlite3

In [3]:
%sql sqlite:///CourseDataWarehouse.db
conn = sqlite3.connect('CourseDataWarehouse.db')

### 2. Create Tables from Star Schema

In [4]:
%%sql

-- Instructors Dimension table
DROP TABLE IF EXISTS INSTRUCTORS_DIM;
CREATE TABLE INSTRUCTORS_DIM (
    InstructorID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);

-- Location Dimension table
DROP TABLE IF EXISTS LOCATION_DIM;
CREATE TABLE LOCATION_DIM (
    LocationID TEXT PRIMARY KEY
);

-- Timecode Dimension table
DROP TABLE IF EXISTS TIMECODE_DIM;
CREATE TABLE TIMECODE_DIM (
    TimecodeID TEXT PRIMARY KEY,
    Day TEXT,
    Start TEXT,
    End Text
);

-- Programs Dimension table
DROP TABLE IF EXISTS PROGRAMS_DIM;
CREATE TABLE PROGRAMS_DIM (
    ProgramID INTEGER PRIMARY KEY,
    ProgramCode TEXT NOT NULL,
    ProgramName TEXT NOT NULL
);

-- Terms Dimension table
DROP TABLE IF EXISTS TERMS_DIM;
CREATE TABLE TERMS_DIM (
    TermsID TEXT PRIMARY KEY
);

-- Course Catalogs Dimension table
DROP TABLE IF EXISTS COURSE_CATALOGS_DIM;
CREATE TABLE COURSE_CATALOGS_DIM(
    CourseID INTEGER PRIMARY KEY,
    CatalogYear TEXT NOT NULL,
    CatalogID TEXT NOT NULL,
    CourseTitle TEXT NOT NULL,
    Credits TEXT NOT NULL,
    Prequisites TEXT,
    Corequisites TEXT,
    Attributes TEXT
);

-- Course Meetings Fact table
DROP TABLE IF EXISTS COURSE_MEETINGS_FACT;
CREATE TABLE COURSE_MEETINGS_FACT(
    CourseMeetingID INTEGER PRIMARY KEY,
    CatalogID TEXT NOT NULL,
    ProgramID TEXT NOT NULL,
    InstrutorID INTEGER NOT NULL,
    CourseID INTEGER NOT NULL,
    CourseOfferingID INTEGER NOT NULL,
    TimecodeID TEXT NOT NULL,
    TermsID TEXT NOT NULL,
    LocationID TEXT NOT NULL,
    CRN INTEGER NOT NULL,
    PrimaryInstructorID INTEGER NOT NULL,
    Capactiy INTEGER NOT NULL,
    Actual INTEGER NOT NULL,
    Remaining INTEGER NOT NULL,
    Credits INTEGER NOT NULL
    
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Rollup Queries

In [5]:
%%sql

SELECT *
FROM 'CourseData.db'.LOCATION.LocationID
GROUP BY (LocationID)
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) near ".": syntax error
[SQL: SELECT *
FROM 'CourseData.db'.LOCATION.LocationID
GROUP BY (LocationID)
LIMIT 10;]
(Background on this error at: http://sqlalche.me/e/e3q8)