# Term Project Spring 2020
## Team Game Cancelled

talk about project

---
## ERD for CSV Data
The database should not leave off any files or columns.
Normalize to at least BCNF.

year
    semester(term)
        courses.csv
        course_meetings.csv
        course catalog.csv

### Imports

In [1]:
%load_ext sql
import pandas as pd
import sqlite3

![Course Data ERD](James/files/CourseDataERD.png)

---
## Data Dictionary
markdown tables instead of list(s)

[Course Data Dictionary](Docs/CourseDataDictionary.md)

---
## Set Up - SQL and Database

In [2]:
%sql sqlite:///CourseData.db
conn = sqlite3.connect('CourseData.db')

# 1. Create Tables From ERD

In [3]:
%%sql

-- Course Offerings table
DROP TABLE IF EXISTS COURSE_OFFERINGS;
CREATE TABLE COURSE_OFFERINGS (
    CourseID INTEGER PRIMARY KEY,
    Term TEXT NOT NULL,
    CRN INTEGER NOT NULL,
    CatalogID TEXT NOT NULL,
    Section TEXT NOT NULL,
    Credits TEXT NOT NULL,
    Title TEXT NOT NULL,
    Timecodes TEXT NOT NULL,
    PrimaryInstructorID TEXT NOT NULL,
    Capactiy INTEGER NOT NULL,
    Actual INTEGER NOT NULL,
    Remaining INTEGER NOT NULL
);

-- Course Catalogs table
DROP TABLE IF EXISTS COURSE_CATALOGS;
CREATE TABLE COURSE_CATALOGS(
    CourseID INTEGER PRIMARY KEY,
    CatalogYear TEXT NOT NULL,
    CatalogID TEXT NOT NULL,
    ProgramID TEXT NOT NULL,
    CourseTitle TEXT NOT NULL,
    Credits TEXT NOT NULL,
    Prequisites TEXT NOT NULL,
    Corequisites TEXT NOT NULL,
    Fees TEXT NOT NULL,
    Attributes TEXT NOT NULL,
    Description TEXT NOT NULL
);

-- Programs table
DROP TABLE IF EXISTS PROGRAMS;
CREATE TABLE PROGRAMS (
    ProgramID TEXT PRIMARY KEY,
    ProgramCode TEXT NOT NULL,
    ProgramName TEXT NOT NULL
);

-- Instructors table
DROP TABLE IF EXISTS INSTRUCTORS;
CREATE TABLE INSTRUCTORS (
    InstructorID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);

-- Course Meetings table
DROP TABLE IF EXISTS COURSE_MEETINGS;
CREATE TABLE COURSE_MEETINGS (
    CourseMeetingID INTEGER PRIMARY KEY,
    CRN INTEGER NOT NULL,
    LocationID TEXT NOT NULL,
    StartDateTime TEXT NOT NULL,
    EndDateTime TEXT NOT NULL
);

-- Location table
DROP TABLE IF EXISTS LOCATION;
CREATE TABLE LOCATION (
    LocationID TEXT PRIMARY KEY
);

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

---
# 2. Importing CSV Data

### List of CSVs:
(Catalogs)
    CourseCatalog2017_2018.csv | https://ba-lab.fairfield.edu/user/jneri/lab/tree/term-project-teamgamecancelled/SourceData/Catalogs/CourseCatalog2017_2018.csv
    CourseCatalog2018_2019.csv
(Each Semester's Folder)
    course_meetings.csv
    courses.csv

In [5]:
catalog_years = ['2017_2018', '2018_2019']

for catyear in catalog_years:
    filepath = 'SourceData/Catalogs/CourseCatalog'+catyear+'.csv'
    data = pd.read_csv(filepath)
    data['catyear']=catyear
    data.to_sql('IMPORT_CATALOG_COURSES', conn, if_exists='append', index=False)

OperationalError: table IMPORT_CATALOG_COURSES has no column named catyear

NameError: name 'IMPORT_CATALOG_COURSES' is not defined

In [5]:
terms = ['Fall2014','Fall2015','Fall2016','Fall2017','Fall2018',
         'Spring2015','Spring2016','Spring2017','Spring2018','Spring2019',
         'SpringBreak2017',
         'Summer2015','Summer2016','Summer2017','Summer2018',
         'Winter2015','Winter2016','Winter2017','Winter2018']

for term in terms:
    filepath = 'SourceData/'+term+'/courses.csv'
    data = pd.read_csv(filepath)
    data.to_sql('IMPORT_COURSE_OFFERINGS',conn,if_exists='append',index=False) 
    
    filepath = 'SourceData/'+term+'/course_meetings.csv'
    data = pd.read_csv(filepath)
    data.to_sql('IMPORT_COURSE_MEETINGS',conn,if_exists='append',index=False)

In [6]:
%%sql
-- Record Counts for Catalog Courses
SELECT 
    (SELECT Count(*) FROM IMPORT_CATALOG_COURSES) as 'RawCount',
    (SELECT Count(*) FROM (SELECT DISTINCT * FROM IMPORT_CATALOG_COURSES)) as 'DistinctCount';

 * sqlite:///CourseData.db
Done.

[(4440, 4440)]

# 3 & 4 Transform and Load Data into ERD

# 5. Check

# 6. Empty out Tables to Reclaim Storage